python-dotenv
pydantic
pydantic-settings
fastapi
uvicorn[standard]
python-multipart
aiofiles
groq
chromadb
sentence-transformers
PyPDF2
pdfplumber
python-docx
markdown
Pillow
pytesseract
rank-bm25
tqdm
httpx
numpy
