# Core Dependencies
pydantic
networkx
sentence-transformers
rank-bm25
numpy
chromadb

# LLM & Orchestration
langgraph
langchain-core
langsmith
groq

# Observability
opentelemetry-api
opentelemetry-sdk

# Utilities
python-dotenv


# Dev Dependencies
black
isort
autoflake
flake8
mypy

# Generator Dependencies
faker
json-repair